body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 10%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    text-align: center;
  }
  
  h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 22px;
    color: #555;
    margin-bottom: 15px;
  }
  
  button {
    background-color: #28a745;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    background: #f9f9f9;
    margin: 10px 0;
    padding: 12px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }
  
  li:hover {
    transform: translateY(-3px);
  }
  
  li span {
    font-weight: bold;
    color: #333;
    flex: 1;
    margin-right: 10px; /* Add margin between date and title */
  }
  
  .pdf-link {
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    min-width: 90px; /* Ensure the button has the same size */
    text-align: center;
    margin-left: 10px; /* Add margin between link and other elements */
  }
  
  .pdf-link:hover {
    background-color: #0056b3;
  }
  
  li div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }